:root {
  --logo-footer: #f4f4fd;
  --hover-focus-color: #4d5ae5;
  --hero-sect-color: #ffffff;
  --notmain-color: #2e2f42;
  --footer-color-logotext: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/** ---------------------HEADER--------------------- */
.header {
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo span {
  color: #4d5ae5;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--notmain-color);
}
.header-menu-link:active {
  color: #404bbf;
}
.header-menu-link:focus,
.header-menu-link:hover {
  color: var(--hover-focus-color);
}
.header-address {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}
.header-address-item {
  color: inherit;
}
.header-address-item:focus,
.header-address-item:hover {
  color: var(--hover-focus-color);
}

/** ---------------------HERO SECTION--------------------- */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-sect-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--hero-sect-color);
  cursor: pointer;
}

/** ---------------------BENEFITS SECTION--------------------- */
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--notmain-color);
}
.benefits-item-text {
}

/** ---------------------WORKS--------------------- */
.works {
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--notmain-color);
}

/** ---------------------TEAM SECTION--------------------- */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--notmain-color);
}
.team-list {
}
.team-item {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--notmain-color);
}
.team-text {
  text-align: center;
}

/** ---------------------FOOTER--------------------- */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-color-logotext);
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
  color: var(--footer-color-logotext);
}
